body {
    padding-top:75px;
    padding-bottom:100px;
	background-color:#e0e0e0;
}

.well {
	border: 1px solid #b3b3b3;
	background-color: #f8f8f8;
}

.btn-default {
	border-color: #b3b3b3;
}

.form-control {
	border: 1px solid #b3b3b3;
}

a:hover {
	text-decoration: none;
}

.glow {
	border:1px solid #ff3300 !important;
	box-shadow:inset 1px 1px 5px rgba(255,51,0,0.75),1px 1px 5px rgba(255,51,0,0.6) !important;
}


/* Global form input formatting */

.input-global:focus {
	border:1px solid #ff3300;
	box-shadow:inset 0 1px 1px rgba(255,51,0,0.75),0 0 8px rgba(255,51,0,0.6);
}

.form-button-global {
	float:right;
}

/* Global nav bar formatting */

.navbar-header {
    background-color:#ff3300;
    border:none;
}

.main-navbar a img {
    width:38px;
    position:relative;
    left:-7px;
    top:-4px;
}

.navbar-logo {
    margin-right:50px;

}

.navbar-right {
	position:relative;
}

.navbar-right-name {
	position:absolute;
	top:13px;
	right:45px;
	color:#fff;
	font-weight:bold;
}

.navbar-right-name:hover, .navbar-right-name:focus {
	text-decoration: none;
	color:#fff;
}

.btn-global {
	background-color:#ff3300;
	border:0px;
	color:#fff;
} 

.btn-trigger-reply {
  padding:4px 8px;
  font-size:10px;
}

.btn-trigger-reply:hover {
  background-color:#ff3300;
  color:#fff;  
}

.btn-trigger-reply:active, .btn-trigger-reply:focus {
  background-color:#cc3300;
  color:#fff;
}

.btn-global:active, .btn-global:hover, .btn-global:focus {
	background-color:#cc3300;
	border:0px;
	color:#fff;
}

.btn-post:hover, .btn-cancel-reply:hover, .btn-post-reply:hover {
	color:#ff3300;
	background-color:#fff;
	border-color:#ccc;
}

.icon-bar {
	background-color:#fff;
}

/* Dropdown menu formatting */

.dropdown-menu {
	background-color:#ff3300;
	border:1px solid #ff3300;
	position:absolute;
	top:96%;
	border-radius:0px;
}


.dropdown-menu li a {
	color:#ffffff;
}

.dropdown-header {
	font-weight:bold;
	font-size:14px;
	color:#e0e0e0;
}

.dropdown-menu .divider {
	margin:9px 9px 9px 9px;
}


/* Search bar formatting and functionality */

.head-search {
	margin-top:8px;
	padding-left:0px;
}

.head-search-btn {
	position:absolute;
	top:2px;
	right:50px;
}

.search-icon {
	background:none;
}

.search-icon:focus, .search-icon:active, .head-search-btn:focus {
	outline:0px;
	box-shadow:none;
}

.head-search-input:focus {
	border-color:#fff;
	box-shadow:inset 0 1px 1px rgba(255,255,255,0.75),0 0 8px rgba(255,255,255,0.6);
}

.glyphicon:focus {
	outline:0px;
}

/* User settings formatting */

.glyphicon-cog {
	color:#fff;
}

.nav-settings {
    color:#9d9d9d;
    padding:15px;
    display:block;
}

	@media screen and (max-width:767px)
	{
		.nav-settings {
			float:left;
		}
	}

    .nav-settings:hover {
        color:#ffffff;
        text-decoration:none;
    }

    .nav-settings:focus {
        color:#ffffff;
        text-decoration:none;
    }
