/* Main header formatting */

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color:transparent;
}

/* Main body thumbnail formatting */






@media screen and (max-width:767px) {
  .stream-img {
    width:100%;
  }
}

.main-thumbnail {
  position:relative;
  padding:0px;
}

.thumbnail-top {
  height:45px;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+99&amp;1+0,0+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(255,255,255,0.01) 99%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(255,255,255,0.01) 99%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(255,255,255,0.01) 99%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.thumbnail-bottom {
  height:35px;
  position:absolute;
  bottom:0px;
  left:0px;
  width:100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,000000+100&amp;0+0,1+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.01) 1%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.stream-name {
  color:#fff;
  font-weight:bold;
  position:absolute;
  top:5px;
  left:7px
}

.stream-game {
  color:#fff;
  font-weight:bold;
  font-size:10px;
  position:absolute;
  top:23px;
  left:7px;
}

.stream-viewers {
  color:#fff;
  font-weight:bold;
  position:absolute;
  bottom:5px;
  left:7px;
}

.main-user-post {
  padding-left:7px;
  padding-right:7px;
}

.thumbnail {
  box-shadow: 1px 1px 3px #949292;
  margin-bottom:10px;
}

.thumbnail a>img {
  height:40px;
  float:left;
  margin-right:5px;
}

.main-streamer-post-pic {
  float:left;
}

  .main-streamer-post-pic a i, .main-streamer-post-pic>a>i:hover {
    color:#333;
  }

.main-post-options:hover {
  color:#ff3300;
  cursor:pointer;
}

.streamer-post-id {
  float:left;
}

.streamer-post-message-main {
  clear:both;
  position:relative;
  top:15px;
  border-top:1px solid #e3e3e3;
  padding:10px;
  margin-bottom:12px;
}

.main-btn-group {
  float:right;
  position:absolute;
  top:20px;
  right:25px;
  display:none;
}

.dropdown-menu {
  left:-30px;
}

.main-btn-group-link {
  color:#000;
}

.main-btn-group-link:hover {
  color:#ff3300;
  text-decoration: none;
}

.pagination {
  position:absolute;
  bottom:0;
}