html {
  height:100%;
}

body {
  min-height:100%;
  position:relative;
}

.main-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f8f8f8;  
}

/* Register and Sign In Buttons */

.navbar-btns-public {
  padding-top: 20px;
  list-style-type: none;
}

.navbar-btns-public li {
  float: left;
}

.navbar-btns-public li:first-child {
  margin-right: 5px;
}

/* Login form formatting */

.login-logo {
  width: 45px;
  padding-top: 11px;
}

.login-options {
  padding-top: 10px;
}

.login-chkbox {
  margin-right:32px;
}

.login-chkbox [type=checkbox] {
  position:relative;
  top:2px;
  margin:0px 2px 0px 0px;
}

.chk-label {
  font-size:12px;
  font-weight:normal;
  margin:0px;
}


/* Main body content formatting */

.main-welcome {
    padding-top: 96px;
    text-align: center;
    height: 414px;
    margin-bottom: 100px;
    background-color: #e0e0e0;
    min-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-bottom: 1px solid #b3b3b3;
}

.main-posts {
  margin-top: 425px;
  margin-bottom: 100px;
}

.main-posts-public {
  margin-top: 425px;
  margin-bottom: 100px;
}

.main-search-icon {
  background: none;
}

.main-mission {
  text-align:center;
}

.main-posts-header {
    position: relative;
    border-bottom: 1px solid #b3b3b3;
    padding: 0 0 10px 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 7px;
}

.btn-reg {
  display:block;
  margin:50px auto;
  background-color:#ff3300;
  border:0px;
  max-width: 125px;
}

.btn-reg a {
  color: #fff;
}

.btn-reg:hover, .btn-reg:active, .btn-reg:focus {
  background-color:#cc3300;
}

.btn-reg-xs-sm {
  color:#fff;
}

.btn-reg-xs-sm:hover {
  text-decoration:none;
  color:#fff;
}

.main-info-list {
  margin-top:50px;
  margin-bottom:100px;
  text-align:center;
}

  .main-info-list ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
  }

.info-div {
  background-color:#ffffff;
  padding:1px;
  margin:auto;
  width:100px;
}

.main-new-users, .main-new-fans, .main-top-contributors, .main-recent-posts {
  padding-bottom: 15px;
}

.section-title {
  border-bottom: 3px solid #b8b8b8;
  padding-bottom: 8px;
  font-weight: bold;
}

.view-more {
  position: absolute;
  right: 25px;
  top: 5px;
  color: #ff3300;
}

  .view-more:hover, .view-more:focus {
    text-decoration: none;
    color: #cc3300;
  }

.new-users-item-wrapper {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}

.new-users-item {
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  position: relative;
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
}

.item-details {
  position: absolute;
  bottom: 5px;
  right: 0px;
  padding-right: 6px;
  background-color: #fff;
  padding-left: 3px;
  font-size: 12px;
}

  .item-details i {
    margin-right: 3px;
  }


.new-user-username {
  font-size: 12px;
  color: #000;
}

  .new-user-username:hover, .new-user-username:focus {
    color: #ff3300;
    text-decoration: none;
  }

.main-auth-activity {
  border: 1px solid black;
}

.new-user-followers {
  margin-right: 3px;
}

.recent-post-item {
  margin: 0px 15px;
  background-color:#ffffff;
  border:1px solid #b3b3b3;
  border-radius:4px;
  box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
}

.post-streamer-img {
  width: 75px;
  float: left;
  height: auto;
  margin-right: 5px;
  margin-bottom: 10px;
  color: black;
  text-align: center;
}

.post-streamer-username {
  float: left;
  margin: 0 0 5px 0;
  color: #000;
}

  .post-streamer-username:hover, .post-streamer-username:focus {
    text-decoration: none;
    color: #ff3300;
  }

.recent-post-time {
  font-size: 11px;
  color: #989898;
  position: absolute;
  top: 39px;
  left: 90px;
}

.recent-post-user-followers {
  font-size: 11px;
  color: #000;
  position: absolute;
  top: 55px;
  left: 90px;
}

  .recent-post-user-followers i {
    margin-right: 3px;
  }

.post-vote-count {
  position: absolute;
  top: 10px;
  right: 25px;
}

.post-details {
  margin-left: 10px;
  font-style: italic;
  color: #808080;
}

  .post-details a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }

    .post-details a:hover, .post-details a:focus {
      color: #ff3300;
      text-decoration: none;
    }

.post-body-wrapper {
  clear: both;
  padding: 0 10px 10px 10px;
}

/* Modal styling */

.modal-reg-input:focus, .regsel:focus {
  border:1px solid #ff3300;
  box-shadow:inset 0 1px 1px rgba(255,51,0,0.75),0 0 8px rgba(255,51,0,0.6);
}

.reg-title {
  text-align:center;
}


.form-control:focus {
  border:1px solid #ff3300;
}

.regsel {
  font-weight:normal;
}

.reg-confirm-message-text, .forgot-pass-message-text {
  text-align:center;
  padding:15px;
}

/* Footer styling */

.navbar-fixed-bottom {
  position:absolute;
  bottom:0;
  left:0;
  border-top: 1px solid #b3b3b3;
}

.list-inline {
  text-align:center;
  margin-top:14px;
}

.list-inline li a {
  color:#ff3300;
}

.list-inline li a:hover {
  text-decoration:none;
  color:#cc3300;
}

/* Welcome media breakpoints formatting */

@media screen and (max-width:767px) {

  .navbar-header {
    padding-left: 10px;
  }

  .navbar-btns-public {
    padding: 10px;
    margin-bottom: 35px;
  }

  .main-mission {
    font-size:16px;
  }

  .main-welcome {
    height: 250px;
  }

  .welcome-logo {
    height: auto;
    width: 300px;
  }

  .main-content {
    margin-top: 205px;
  }
  
  .reg-li {
    font-size:12px;
    padding:6px;
  }
  
  .btn-reg {
    font-size:16px;
    padding-left:16px;
    padding-right:16px;
  }

  .recent-post-item-wrapper {
    margin-left: -15px;
    margin-right: -15px;
  }

  .recent-post-item {
    padding: 10px 0 10px 10px;
  }

  .post-vote-count {
    right: 5px;
  }

  .section-title {
    padding-left: 10px;
  }

  .main-new-users, .main-new-fans, .main-top-contributors, .main-recent-posts {
    padding: 0 0 15px 0;
  }

  .view-more {
    right: 5px;
  }
  
}

@media screen and (min-width:768px) {


  .main-mission {
    font-size:22px;
  }

  .main-welcome {
    height: 325px;
  }

  .welcome-logo {
    height: auto;
    width: 500px;
  }

  .main-content {
    margin-top: 270px;
  }

  .reg-li {
    font-size:18px;
    padding:8px;
  }
  
  .btn-reg {
    font-size:18px;
    padding-left:18px;
    padding-right:18px;
  }
  
  .modal-dialog {
    top:50px;
  }
  
}

@media screen and (min-width:1200px) {


  .main-mission {
    font-size:24px;
  }

  .main-welcome {
    height: 325px;
  }

  .welcome-logo {
    height: auto;
    width: 500px;
  }

  .main-posts {
    margin-top: 525px;
  }

  .main-posts-public {
    margin-top: 450px;
  }

  .main-posts-nav {
    top: 450px;
  }

  .reg-li {
    font-size:20px;
    padding:10px;
  }

  .btn-reg {
    font-size:20px;
    padding-left:20px;
    padding-right:20px;
  }
  
  .modal-dialog {
    top:125px;
  }

  .new-users-item-img-i {
    font-size: 220px;
  }
  
}

/* Main header formatting */

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color:transparent;
}

/* Main Search Formatting */

.tt-input {
  height: 50px;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 0px;
}

.main-search-icon {
  font-size: 18px;
  padding: 11px;
}

.twitter-typeahead {
  width: 100%;
}

.tt-menu {
  width: 100%;
  border: 1px solid #b3b3b3;
  background-color: #fff;
}

.tt-suggestion {
  background: #fff;
  padding: 10px;
  margin: 0px;
  display: block;
  border-bottom: 1px solid #e3e3e3;
  color: #000;
}

  .tt-suggestion:last-child {
    border:none;
  }

  .tt-suggestion:hover {
    background: #e3e3e3;
    color: #000;
  }

  .tt-suggestion:last-child .algolia-logo {
    display: block;
  }

.tt-cursor {
  background: #e3e3e3;
}

.search-result-item-image {
  float: left;
  border-radius: 50%;
  width: 50px;
  margin-right: 10px; 
}

.search-result-item-image-unknown {
  float: left;
  border-radius: 50%;
  font-size: 50px;
  margin-right: 10px;  
}

.search-result-item-username {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px;
}

.search-result-item-followers-count {
  text-align: left;
  font-size: 12px;
}

  .search-result-item-followers-count i {
    margin-right: 3px;
  }

.main-search-no-results {
  text-align: center;
}

.algolia-logo {
  float: right;
  margin-right: 5px;
  margin-top: 10px;
  display: none;
}

  .algolia-logo img, .algolia-logo-no img {
    width: 60px;
  }

.algolia-logo-no {
  float: right;
  margin-right: 5px;
}


.no-results-popup {
  border-bottom: 2px dotted #b3b3b3;
  cursor: pointer;
}

.no-results-fan-page-link {
  color: #000;
  cursor: pointer;
}

/* Main body thumbnail formatting */

@media screen and (max-width:767px) {
  .stream-img {
    width:100%;
  }
}

.main-thumbnail {
  position:relative;
  padding:0px;
}

.thumbnail-top {
  height:45px;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+99&amp;1+0,0+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(255,255,255,0.01) 99%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(255,255,255,0.01) 99%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(255,255,255,0.01) 99%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

.thumbnail-bottom {
  height:35px;
  position:absolute;
  bottom:0px;
  left:0px;
  width:100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,000000+100&amp;0+0,1+100 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.01) 1%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.stream-name {
  color:#fff;
  font-weight:bold;
  position:absolute;
  top:5px;
  left:7px
}

.stream-game {
  color:#fff;
  font-weight:bold;
  font-size:10px;
  position:absolute;
  top:23px;
  left:7px;
}

.stream-viewers {
  color:#fff;
  font-weight:bold;
  position:absolute;
  bottom:5px;
  left:7px;
}

.main-user-post {
  padding-left:7px;
  padding-right:7px;
}

.thumbnail {
  box-shadow: 1px 1px 3px #949292;
  margin-bottom:10px;
  padding: 10px;
}

.request-streamer-thumbnail {
  box-shadow: 0 0 5px #ff3300;
}

.thumbnail a>img {
  height:40px;
  float:left;
  margin-right:5px;
}

.main-streamer-post-pic {
  float:left;
}

  .main-streamer-post-pic a i, .main-streamer-post-pic>a>i:hover {
    color:#333;
  }

.main-post-options:hover {
  color:#ff3300;
  cursor:pointer;
}

.main-posts-nav {
  position: absolute;
  right: 0;
  left: 0;
  height: 100px;
  background-color: #fff;
  border-bottom: 1px solid #b3b3b3;
}

.main-posts-nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.main-posts-nav-tab {
  display: inline-block;
  width: 50%;
  line-height: 99px;
  float: left;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.main-posts-nav-tab:hover, .main-posts-nav-tab:focus {
  background-color: #f8f8f8;
  border-bottom: 1px solid #b3b3b3;
  color: #ff3300;
  text-decoration: none;
}

  .main-posts-nav-tab:first-child {
    border-right: 1px solid #b3b3b3;
  }

  .main-posts-nav-tab.visible::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ff3300;
    content: '';
  }

.streamer-post-id {
  float:left;
}

.streamer-post-message-main {
  clear:both;
  position:relative;
  top:15px;
  border-top:1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  padding:10px;
  margin-bottom:12px;
  word-wrap: break-word;
}

.streamer-post-message-footer {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 0 0;
}

.streamer-post-message-footer>li {
  display: inline;
}

.streamer-followers {
  margin-right: 5px;
}

.fan-count, .like-count {
  font-size: 11px;
  color: #989898;
}

.streamer-post-like-count-img {
  height: 12px;
}

.request-streamer-respond-btn {
  font-size: 12px;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.respond-btn-count {
  font-size: 9px;
  position: absolute;
  top: 40px;
  right: 10px;
}

.external-link-twitch, .external-link-twitch:hover, .external-link-twitch:focus {
  position: absolute;
  right: 23px;
  bottom: 9px;
  color: #000;
}
  .external-link-twitch img {
    height: 20px !important;
    display: inline !important;
  }

.main-btn-group {
  float:right;
  position:absolute;
  top:20px;
  right:25px;
  display:none;
}

.dropdown-menu {
  left:-30px;
}

.main-btn-group-link {
  color:#000;
}

.main-btn-group-link:hover {
  color:#ff3300;
  text-decoration: none;
}

.pagination {
  position:absolute;
  bottom:0;
  z-index: -1;
}

#infscr-loading {
  display: none !important; 
}