.oauth-buttons {
	margin-bottom: 20px;
}

.btn-twitch, .btn-youtube {
	position: relative;
}

.twitch-status {
	position: absolute;
	right: 10px;
	top: 28px;
	display: none;
}

.twitch-status-msg {
	color: #000;
}

.twitch-status-icon {
	color: #3c763d;
}

.youtube-status {
	position: absolute;
	right: 10px;
	top: 28px;
	display: none;
}

.youtube-status-msg {
	color: #000;
}

.youtube-status-icon {
	color: #3c763d;
}

.oauth-buttons-item {
	padding: 20px 0px;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}

.gotoprofile {
	float: right;
	display: none;
}