.oauth-buttons {
	margin-bottom: 20px;
	text-align: center;
}

.btn-twitch, .btn-youtube {
	position: relative;
}

.twitch-status {
	position: absolute;
	right: 10px;
	top: 28px;
}

.twitch-status-msg {
	color: #000;
}

.twitch-status-icon {
	color: #3c763d;
}

.youtube-status {
	position: absolute;
	right: 10px;
	top: 28px;
}

.youtube-status-msg {
	color: #000;
}

.youtube-status-icon {
	color: #3c763d;
}

.oauth-buttons-item {
	padding: 20px 0px;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}

.oauth-username-error {
	
}

.primary-selection {
	display: none;
}

.primary-selection-label {
	font-weight: normal;
	margin-left: 10px;
	position: relative;
	bottom: 1px;
}

.btn-submit-primary {
	margin-top: 10px;
}

.gotoprofile {

}