h1 {
	margin-bottom:30px;
}

.mobile-register-form {
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	padding:30px;
}

.mobile-register-form-btns {
	float:right;
	padding-right: 15px;
}

.twitch-oauth:hover, .twitch-oauth:focus {
	background-color: #f8f8f8;
}

	.twitch-oauth img {
		height: 22px;
	}

.register-form h5 {
	text-align: center;
}

.register-btn {
	padding: 7px 18px;
}

.reg-terms {
	margin-bottom:0px;
}