body {
	position:relative;
}

.message-notification {
	background-color: #ff3300;
	padding: 5px 10px;
	border-radius: 20px;
	color: #fff;
	position: absolute;
	left: 45%;
	top: 185px;
	z-index: 10;
	cursor: pointer;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color:transparent;
}

.sweet-alert button, .sweet-alert button:focus {
	background-color: #ff3300;
}
.sweet-alert button:hover {
      background-color: #cc3300; }

/* Comment box styling */

.comment-box {
	position:fixed;
	right:-308px;
	background-color:#000;
	border:1px solid #fff;
	z-index:1000;
	transition: right 1s;
}

	.slider {
		right:0;
	}

.comment-box-tab {
	height:35px;
	width:30px;
	background-color:#000;
	color:#fff;
	position:absolute;
	left:-28px;
	top:10px;
}

	.comment-box-tab:hover {
		cursor:pointer;
	}

/* Menu to set import stream styling */

.setup-box {
  border: 1px solid #b3b3b3;
  text-align: center;
  position: relative;
  padding-bottom: 5px;
}

.setup-box-body {
	display: none;
}

.setup-box-header {
  height:20px;
  position:absolute;
  top: 1px;
  left: 0;
  right: 0;
  cursor: pointer;
}

.box-minimize {
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.banner-setup {
  padding-bottom: 10px;
}

.fa-rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.embed-stream-form {
	display: none;
}

.embed-stream-help {
	font-size: 11px;
}

.embed-stream-submit {
	border: 1px solid #ff3300;
}

.embed-stream-submit:hover {
	border: 1px solid #cc3300;
}

.stream-help-block {
	color: #a94442;
}

/* Stream media */

.streamer-media {
	padding: 0;
	margin-bottom: 16px;
}

/* Stream embed section */

.stream-embed {
	margin:auto;
	position:relative;
}

.streamer-rate-click {
	position:absolute;
	bottom:35px;
	right:10px;
}

.rate-me {
	color:#ffffff;
	margin-right:5px;
}

.rate-conf {
	color:#ffffff;
	display:none;
}

.videos {
	list-style-type: none;
	margin-bottom: 16px;
	padding: 0px;
}

.videos-header {
	margin: 20px 0 0 20px;
}

.videos-none {
	margin-left: 20px;
    padding-bottom: 10px;
}

	.videos li {
		display: inline-block;
		position: relative;
		border-bottom: 1px solid #e3e3e3;
	    padding: 10px 0 10px 20px;
		width: 100%
	}

	.videos li:last-child {
		border: none;
	}

	.videos li a {
		color: #000;
		cursor: pointer;
	}

	.videos li a:hover, .videos li a:focus {
		color: #ff3300;
		text-decoration: none;
	}

.video-img {
	width: 75px;
	float: left;
	margin-right: 5px;
}

.video-title {
	margin: 3px 0;
}

.video-game, .video-length {
	font-size: 11px;
	display: block;
}

/* STREAMER TAGS SECTION */

.streamer-tags {
	margin-bottom: 16px;
	position: relative;
}

.streamer-tags-item-wrapper {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.streamer-tags-edit {
	cursor: pointer;
}

.streamer-tags-info {
	font-size: 14px;
	cursor: pointer;
	margin-right: 3px;
}

.streamer-tags-item {
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #fff;
    padding: 5px;
    margin-bottom: 3px;
    display: inline-block;
    color: #ff3300
}

	.streamer-tags-item:hover, .streamer-tags-item:focus {
		color: #cc3300;
	}

#streamer-tags-form {
	display: none;
}

/* Welcome modal styling */

.wMimage {
	width:25%;
}

.btn-setup-profile-link a {
	color:#fff;
}

.btn-setup-profile-link a:hover {
	text-decoration:none;
}

/* Streamer info section */

.streamer-info {
	margin-bottom:16px;
}

.streamer-pic {
	float:left;
	margin-right:5px;
	position: relative;
}

	.streamer-pic img {
		max-height:75px;
	}

	.edit-info-pic {
	    position: absolute;
	    top: 0px;
	    right: 0px;
	    cursor: pointer;
	    background-color: #fff;
	    box-shadow: -1px 1px 1px #000;
	    width: 15px;
	    text-align: center;
	    display: none;
	}

.streamer-name {
	font-weight:bold;
	margin-top:3px;
	margin-bottom:3px;
}

.btn-add, .btn-remove {
	position:relative;
	top:-2px;
	font-size:9px;
	padding:4px 8px;
	background-color:#ff3300;
	color:#fff;
}

.btn-add:hover, .btn-remove:hover {
	background-color:#cc3300;
	color:#fff;
}

.body-content-edit {
	margin-left: 5px;
	cursor: pointer;
}

.fa-heart {
	font-size:18px;
}

.streamer-twitch-link {
	display: block;
	position: relative;
	bottom: 10px;
	color: #000;
}

	.streamer-twitch-link:hover, .streamer-twitch-link:focus {
		color: #000;
		text-decoration: none;
	}

	.streamer-twitch-link img {
		width: 50px;
	}

	.streamer-twitch-link i {
		margin-left: 5px;
		position: relative;
		top: 2px;
	}

.about-me-wrapper {
	position: relative;
}

#streamer-about-me-form {
	display: none;
}

	#streamer-about-me-form button {
		margin-top: 5px;
	}

#streamer-about-me-input {
	resize: vertical;
}

.edit-info-about {
	position: absolute;
	top: -5px;
	left: 75px;
	display: none;
}

#fan-page-form {
	display: none;
}

.fan-page-form-btns {
	margin-top: 10px;
}

.edit-info-post {
	font-size: 12px;
	max-width: 85px;
}

.edit-info-about, .edit-info-post {
	cursor: pointer;
}

/* hides controls for dropzone.js */
.dz-success-mark, .dz-error-mark, .dz-filename {
    display: none;
}

.dz-error-message {
	font-weight: bold;
	color: #ff3300;
}

.progress-spinner {
	display: none;
}

.stream-rate-read {
	display:inline;
	margin-right:3px;
}

.rate-count{
	font-size:11px;
	color:#989898;
}

.streamer-conn {
	padding-top:5px;
}

.fan-count {
	font-size:11px;
	color:#989898;
}

.s-style-ul>ul {
	padding-left:10px;
}

.s-style-ul>ul>li{
	list-style-type:none;
}

/* Streamer Top Visits Styling */

.streamer-top-visits-header {
	clear: both;
}

.streamer-top-visits-box {
	padding:10px;
	background-color:#ffffff;
	border-top:1px solid #b3b3b3;
	border-right:1px solid #b3b3b3;
	border-left:1px solid #b3b3b3;
	margin-right: 0;
	margin-left: 0;
}

	.streamer-top-visits-box:last-child {
		border-bottom:1px solid #b3b3b3;
	}
	
	.streamer-top-visits-box-img {
		float:left;
		margin-right:3px;
	}

		.streamer-top-visits-box-img>a>img {
			height:28px;
		}

		.streamer-top-visits-box-img>a>i, .streamer-top-visits-box-img>a>i:hover {
			color:#333;
			margin-right: 4px;
		}

	.streamer-top-visits-box-a, .streamer-top-visits-box-a:focus {
		color:#000;
		text-decoration: none;
		position:relative;
		top: 3px;
		font-size: 15px;
	}

	.streamer-top-visits-box-a:hover {
		color: #ff3300;
		text-decoration: none;
	}

	.streamer-top-visits-box-time {
		font-size:9px;
		color:#989898;
		position:relative;
		top:-5px;
		margin:0px;
	}

/* Streamer Details Styling */

#streamer-details-form {
	display: none;
}

	#streamer-details-form button {
		margin-top: 5px;
	}

/* Streamer Updates Styling */

.streamer-updates {
	position:relative;
}

.notif-head {
	font-weight:bold;
}

.notif-head-clearall {
	color:#989898;
	position:absolute;
	right:24px;
	top:29px;
	font-size:11px;
}

	.notif-head-clearall:hover {
		cursor:pointer;
	}
	
.streamer-updates-none {
	color:#989898;
	font-size:12px;
	display:none;
}

.notif-updates {
	padding:5px;
	border-bottom:1px solid #e5e5e5;
	position:relative;
}
	
	.notif-updates:last-child {
		border:0px;
	}
	
.notif-updates:hover {
	background-color:#ff3300;
}

.notif-updates-img {
	float:left;
	margin-right:5px;	
}

.notif-updates-img > img {
	height:35px;
}

.notif-updates-streamer {
	margin-top:3px;
	margin-bottom:0px;
}
	
	.notif-updates-streamer>a {
		color:#333;
		text-decoration:none;
	}

.notif-updates-time {
	font-size:11px;
	color:#989898;
	position:relative;
	top:-2px;
}

.streamer-update-remove {
	position:absolute;
	right:10px;
	top:18px;
	color:#fff;
	display:none;
}

	.streamer-update-remove:hover {
		cursor:pointer;
	}
	
/* Profile Feed Heaver Nav */

.streamer-feed-header-nav {
    margin-bottom: 50px;
}

.streamer-feed-header-nav-btn {
	float:left;
	width:50%;
	border-radius:0px;
}

.streamer-feed-header-nav-btn-duo {
	float:left;
	width:50%;
	border-radius:0px;
}

.streamer-feed-header-nav-btn:hover, .streamer-feed-header-nav-btn-duo:hover {
	color:#ff3300;
	background-color:#fff;
	border-color:#ccc;
}

/* Streamer About Panel */

.streamer-about-panel {
	position: relative;
	margin-bottom: 16px;
}

.streamer-about-panel-wrapper {
	border-radius: 4px;
	border: 1px solid #e3e3e3;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.streamer-details-edit {
	position: absolute;
	top: 25px;
	left: 125px;
	display: none;
	cursor: pointer;
}


/* Streamer connections & followers */

.connections-modal-nav {
	list-style-type: none;
    width: 100%;
    margin: 0px;
    padding: 0 10px 0 10px;
    height: 30px;
    text-align: center;
}

	.connections-modal-nav li {
		display: inline-block;
	    width: 50%;
	    border-top-left-radius: 10px;
	    border-top-right-radius: 10px;
	    float: left;
	    border: 1px solid #e3e3e3;
	    height: 100%;
	    padding-top: 5px;
	    cursor: pointer;
	}

.connections-modal-body {
	min-height: 75px;
	border: 1px solid #e3e3e3;
    border-radius: 5px;
    padding: 10px;
    max-height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}

.connections-followers, .connections-fan-pages {
	display: none;
}

.streamer-connections-panel, .streamer-followers-panel {
	display:none;
}

.streamer-content-panel {
	clear: both;
	position: relative;
}

.streamer-content-info {
    font-size: 14px;
    position: relative;
    bottom: 1px;
    cursor: pointer;
}

.streamer-post-options {
    position: absolute;
    right: 5px;
    top: 0;
    cursor: pointer;
}

.streamer-post-options-menu {
	left: -245px !important;
	border: none;
	padding: 10px 0px;
}

	.streamer-post-options-menu li {
		padding: 0px 20px;
		display: block;
		width: 100%;
		line-height: 2;
		color: #fff;
		cursor: pointer;
	}

	.streamer-post-options-menu li:first-child:hover {
		background-color: #ff3300;
		color: #fff;
		cursor: default;
	}

	.streamer-post-options-menu li:hover {
		background-color: #f5f5f5;
		color: #000;
	}

.streamer-post-options-check {
	float: right;
}

.streamer-list-item-wrapper {
	border-radius:4px;
	border:1px solid #e3e3e3;
	box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
}

.streamer-list-item {
	background-color:#fff;
	height:70px;
	padding:10px;
	border-bottom: 1px solid #e3e3e3;
}

	.streamer-list-item:last-child {
		border-bottom: 0px;
	}

.streamer-list-item-img i {
	float:left;
	margin-right: 5px;
}

.streamer-list-item-img img {
	height:50px;
	float:left;
	margin-right:5px;
}

.streamer-list-item-name {
	font-size: 18px;
}

.streamer-list-item-name>a {
	color:#000;
}

.streamer-list-item-name>a:hover {
	text-decoration:none;
	color: #ff3300;
}

.streamer-list-item-options {
	margin-right:5px;
	display:none;
	cursor:pointer;
}

.streamer-list-item-options-menu {
	min-width:50px;
	font-size:12px;
	background-color:#fff;
	border:1px solid #e5e5e5;
	padding:3px;
	top: 10px;
}
.streamer-list-item-options-menu>a {
	color: #000;
}

.streamer-list-item-options-menu>a:hover {
	cursor:pointer;
	color:#ff3300;
}

/* Profile feed section */

.feed-post {
	margin-bottom:0px;
	position: relative;
}

.feed-post-input, .feed-post-input:focus {
	border: none;
	outline: none;
	background-color: #f8f8f8;
	box-shadow: none;
}

.feed-post>textarea {
	resize:vertical;
	border-radius:0px;
}

.feedback-notice {
	color: #cc3300;
	font-weight: bold;
	margin-top: 5px;
	display: none;
}

.post-feedback {
	margin-top: 5px;
}

.post-error-msg, .post-success-msg {
	font-weight: bold;
}

.btn-post, .btn-post-reply {
	border-radius:0px;
	border: 1px solid #b3b3b3;
	margin-left: 3px;
}

.btn-img {
	position: absolute;
	top: 9px;
	left: 67px;
	font-size: 19px;
	cursor: pointer;
}

.btn-post:hover, .btn-cancel-reply:hover, .btn-post-reply:hover {
	color:#ff3300;
	background-color:#fff;
	border-color:#b3b3b3;
}

.streamer-post-footer-items {
	list-style-type: none;
}

.streamer-feed-post {
	padding:20px 20px 10px 20px;
	margin-top:15px;
	min-height: 161px;
	background-color:#ffffff;
	border:1px solid #b3b3b3;
	border-radius:4px;
	box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
	position: relative;
}

.delete-post {
	float: right;
	cursor: pointer;
	display: none;
}

.delete-post:hover {
	color: #ff3300;
}

.streamer-post-pic {
	float:left;
	margin-right:5px;
}

	.streamer-post-pic>a>i, .streamer-post-pic>a>i:hover {
		color:#333;
	}

.streamer-post-pic img {
	height:35px;
}

.streamer-post-pic i {
	font-size: 35px;
}

.streamer-post-name {
	margin-top:3px;
	margin-bottom:0px;
	color:#000;
}

.streamer-post-name:hover {
	text-decoration: none;
	color:#ff3300;
	cursor:pointer;
}

.post-time {
	font-size:11px;
	color:#989898;
	position:relative;
	top:-5px;
}

.streamer-post-vote {
	float: right;
}

.streamer-post-vote-public {
	float: right;
}

.vote-up, .vote-down {
	font-size: 18px;
}

	.vote-up:hover, .vote-down:hover {
		color: #ff3300;
		cursor: pointer;
	}

.vote-count {
	margin: 0px 5px;
}

.vote-alert {
    position: absolute;
    right: 20px;
    background: #ff3300;
    color: #fff;
    padding: 5px 8px;
    border-radius: 20px;
    font-size: 10px;
}

.streamer-post-message {
	clear:both;
	position:relative;
	top:15px;
	border-top:1px solid #b3b3b3;
	border-bottom:1px solid #b3b3b3;
	padding:10px 10px 0 10px;
	margin-bottom:17px;
	word-wrap: break-word;
}

#editPostForm, #editReplyForm {
	display: none;
}

.post-reply-button {
	cursor: pointer;
	display: inline;
}

.reply-reply-button {
	cursor: pointer;
}

.post-menu-wrapper {
	position: absolute;
	bottom: -2px;
	left: 40px;
	display: inline-block;
	cursor: pointer;
}

.post-menu {
	background-color: #fff;
	border: 1px solid #ccc;
	min-width: 0px;
	padding: 5px;
	font-size: 12px;
}

	.post-menu li {
		cursor: pointer;
	}

	.post-menu li:hover {
		color: #ff3300;
	}


#editPostForm {
	margin-bottom: 12px;
}

	#editPostForm button, #editReplyForm button {
		margin-top: 5px;
	}

.streamer-post-footer {
	position: relative;
}

/* Reply styling */

.streamer-post-reply-input, .streamer-reply-reply-input {
	padding-left: 20px;
	padding-top: 10px;
	display: none;
}

#replybody {
	resize: vertical;
}

.post-feedback-reply, .reply-feedback-reply {
	margin-top: 5px;
}

.post-reply-text:focus {
	border-color:#ff3300;
	box-shadow:inset 0 1px 1px rgba(255,51,0,0.75),0 0 8px rgba(255,51,0,0.6);
}

.btn-bar-reply {
	display:none;
	position:relative;
	top:-5px;
	left:10px;
}

.fa-reply {
	padding-right:5px;
}

.feed-reply-panel {
	padding:20px 20px 10px 20px;
	margin-top:15px;
	margin-left:20px;
	background-color:#ffffff;
	border:1px solid #e3e3e3;
	border-radius:4px;
	box-shadow:inset 0 1px 1px rgba(0,0,0,.05);
}

	.feed-reply-panel:first-child {
		margin-top: 50px;
	}

.reply-panel-user-pic {
	float:left;
	margin-right:5px;
}

.reply-panel-user-pic img {
	height:30px;
}

.reply-panel-user-pic i {
	font-size: 28px;
}

.reply-panel-user-pic i, .reply-panel-user-pic i:hover {
	color: #333;
}

.reply-user-name {
	margin:0px;
	color:#000;
}

.reply-post-time {
	font-size:11px;
	color:#989898;
	position:relative;
	top:-5px;
}

.reply-message {
	clear:both;
	position:relative;
	top:15px;
	border-top:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
	padding:10px;
	margin-bottom:25px;
}

/* Edit profile modal */

.editprof-title {
	text-align:center;
}

.input-email:focus, .about-text:focus {
	border:1px solid #ff3300;
	box-shadow:inset 0 1px 1px rgba(255,51,0,0.75),0 0 8px rgba(255,51,0,0.6);
}

.edit-prof-body {
	border-bottom:1px solid rgb(229,229,229);
}

.btn-password {
	position:relative;
	left:15px;
}

.input-pic {
	position:relative;
	top:4px;
	left:15px;
}

.banner-help {
	color:#737373;
	font-size:12px;
	position:relative;
	top:7px;
	left:14px;
}

.streamer-conn {
	margin-bottom: 40px;
	cursor: pointer;
}

.setup-modal-about-me {
	padding-bottom:15px;
}

.fan-label {
	text-align:right;
	position:relative;
	top:7px;
}

.btn-fan-list {
	position:relative;
	left:10px;
}

.setup-modal-emailnotif, .editprof-modal-emailnotif {
	border-top:1px solid #e5e5e5;
	padding-top:15px;
}

/* Streamer not registered overlay */

.not-registered-overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1000;
	background-color:rgba(0,0,0,0.5);
}

#usernotregistered {
	margin-top:50px;
}

/* Media breakpoints formatting */

@media screen and (max-width:480px) {
	
	.stream-embed {
		width:100%;
	}
	
	.streamer-rate-click {
		bottom:5px;
	}

	.edit-info-about, .edit-info-pic, .delete-post, .edit-info-categories, .streamer-about-item-edit {
		display: initial;
	}

	.connections-modal-nav li {
		font-size: 12px;
	}

	.streamer-post-options {
		position: relative;
	}
	
}

@media screen and (min-width:481px) {
	
	.btn-cancel {
		width:33.3%;
	}

	.post-img-preview {
		margin-top: 20px;
	}
}

@media screen and (max-width:768px) {
	.stream-embed {
		width:100%;
	}

	.streamer-info-main {
		padding:0;
	}	

	.streamer-info-main {
		margin-top: 20px;
	}
	
}

@media screen and (min-width:768px) {
	.streamer-conn {
		margin-left:0px;
	}
}

@media screen and (min-width:992px) {

}

@media screen and (min-width:1200px) {

}


/*Streamer Modal Intro Styling*/

.modal-body-streamer-type, .modal-footer-streamer-type, .modal-body-streamer-type-details, .modal-footer-streamer-type-details,
.modal-body-streamer-type-optional, .modal-footer-streamer-type-optional {
	display: none;
}

.streamer-type-details-text {
	resize: none;
}

.add-more {
	margin-top: 10px;
}

.add-more-games>button {
	margin-right: 5px;
}

.detail-inputs {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 15px;
}

.modal-footer-streamer-type-details {
	border-top: none;
	padding: 0px 15px 15px 15px;
}

.form-group,.input-group {
	margin: 5px 0px;
}

.detail-input-remove {
	float: right;
	position: relative;
	top: -23px;
	right: 8px;
	cursor: pointer;
}

.about-me, .system-specs, .stream-schedule {
	resize: none;
}








