.support-form {
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	padding:30px;	
}

.support-form-btns {
	position: relative;
}

.support-public-form-btn {
	position: absolute;
	right: 0;
	padding-right: 15px;
}

.support-text {
	resize: vertical;
	border: 1px solid #b3b3b3;
}
